{#
/**
 * @file
 * Default theme implementation to display a notification_message.
 *
 * Available variables:
 * - message: The notification_message entity
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_notification_message()
 *
 * @ingroup themeable
 */
#}

{% set classes = ['message'] %}

{% if elements['#notification_message'] %}
  {% set classes = classes|merge([
    'message--type-' ~ bundle|clean_class
  ]) %}
{% endif %}

<div class="{{ classes|join(' ') }}" data-message-id="{{ message.id() }}">

  <div class="message__content">
    {{ content }}
  </div>

  {% if notification_dismiss.show and not is_message_entity %}
    <a
      href="#"
      class="message__close"
      aria-label="Close {{ message.label() }} notification"
    >
      <svg width="22" height="22" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path d="M4.968 4.968 17.01 17.01M17.032 4.968 4.99 17.01" stroke="#030D10" stroke-width="2"/>
      </svg>
      <span>{{ notification_dismiss.button_text|default('Close') }}</span>
    </a>
  {% endif %}

</div>
